@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200&family=M+PLUS+1:wght@100&display=swap');

body {
  font-family: 'M PLUS 1', sans-serif;
  color: #515A5A; 
  background: #F2F4F4;
}
.dark-theme {
  background: #424949;
  color: white;
}
